@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 77 68% 100%;
    --foreground: 77 68% 5%;
    --muted: 257 35% 87%;
    --muted-foreground: 257 8% 33%;
    --popover: 77 68% 100%;
    --popover-foreground: 77 68% 5%;
    --card: 77 68% 100%;
    --card-foreground: 77 68% 5%;
    --border: 77 12% 94%;
    --input: 77 12% 94%;
    --primary: 77 70% 59%;
    --primary-foreground: 0 0% 0%;
    --secondary: 257 70% 59%;
    --secondary-foreground: 0 0% 100%;
    --accent: 257 70% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 6 74% 90%;
    --destructive-foreground: 6 74% 30%;
    --success: 158 74% 90%;
    --success-foreground: 158 74% 10%;
    --warning: 45 74% 90%;
    --warning-foreground: 45 74% 10%;
    --info: 233 74% 90%;
    --info-foreground: 233 74% 30%;
    --ring: 77 70% 59%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 77 58% 4%;
    --foreground: 77 18% 98%;
    --muted: 257 35% 13%;
    --muted-foreground: 257 8% 67%;
    --popover: 77 58% 4%;
    --popover-foreground: 77 18% 98%;
    --card: 77 58% 4%;
    --card-foreground: 77 18% 98%;
    --border: 77 12% 14%;
    --input: 77 12% 14%;
    --primary: 77 70% 35%;
    --primary-foreground: 0 0% 0%;
    --secondary: 257 70% 35%;
    --secondary-foreground: 0 0% 100%;
    --accent: 257 70% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 15 74% 6%;
    --destructive-foreground: 15 74% 66%;
    --success: 104 74% 6%;
    --success-foreground: 104 74% 46%;
    --warning: 42 74% 6%;
    --warning-foreground: 42 74% 46%;
    --info: 224 74% 6%;
    --info-foreground: 224 74% 86%;
    --ring: 77 70% 59%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .testimonials-items::before {
    content: unset !important;
  }

  @media (min-width: 640px) {
    .testimonials-items::before {
      content: '' !important;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg) translate(0, 0);
    }
    50% {
      transform: rotate(90deg) translate(50px, 50px);
    }
    100% {
      transform: rotate(0deg) translate(0, 0);
    }
  }

  @keyframes home-testimonials {
    0% {
      transform: translateZ(0) translate(0);
    }
    100% {
      transform: translateZ(0) translate(-50%);
    }
  }
}
