@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 25% 95%;
    --foreground: 210 25% 15%;
    --muted: 240 20% 95%;
    --muted-foreground: 240 10% 35%;
    --popover: 210 25% 95%;
    --popover-foreground: 210 25% 15%;
    --card: 210 25% 95%;
    --card-foreground: 210 25% 15%;
    --border: 210 20% 85%;
    --input: 210 20% 85%;
    --primary: 210 100% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 100% 75%;
    --secondary-foreground: 0 0% 0%;
    --accent: 51 100% 50%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 70% 90%;
    --destructive-foreground: 0 70% 30%;
    --success: 120 50% 60%;
    --success-foreground: 120 50% 10%;
    --warning: 45 100% 50%;
    --warning-foreground: 45 100% 10%;
    --info: 200 70% 90%;
    --info-foreground: 200 70% 30%;
    --ring: 210 100% 75%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 25% 10%;
    --foreground: 210 25% 90%;
    --muted: 240 20% 20%;
    --muted-foreground: 240 10% 65%;
    --popover: 210 25% 10%;
    --popover-foreground: 210 25% 90%;
    --card: 210 25% 10%;
    --card-foreground: 210 25% 90%;
    --border: 210 20% 20%;
    --input: 210 20% 20%;
    --primary: 210 100% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 100% 50%;
    --secondary-foreground: 0 0% 0%;
    --accent: 51 100% 50%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 70% 20%;
    --destructive-foreground: 0 70% 70%;
    --success: 120 50% 20%;
    --success-foreground: 120 50% 60%;
    --warning: 45 100% 20%;
    --warning-foreground: 45 100% 60%;
    --info: 200 70% 20%;
    --info-foreground: 200 70% 90%;
    --ring: 210 100% 50%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .testimonials-items::before {
    content: unset !important;
  }

  @media (min-width: 640px) {
    .testimonials-items::before {
      content: '' !important;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg) translate(0, 0);
    }
    50% {
      transform: rotate(90deg) translate(50px, 50px);
    }
    100% {
      transform: rotate(0deg) translate(0, 0);
    }
  }

  @keyframes home-testimonials {
    0% {
      transform: translateZ(0) translate(0);
    }
    100% {
      transform: translateZ(0) translate(-50%);
    }
  }
}
